.new-expense-editAirline__controls {
    display: flex;
    background-color: transparent;
    padding-top: 15px;
    border-radius: 1pc;
    white-space: nowrap;
    font-family: Ties New Roman, Times, serif;
 }
 
 .new-expense-editAirline__control label {
   font-weight: lighter;
   margin-bottom: 0.5rem;
   display: block;
   height: 30%;
   font-size: 20px;
   font-weight: bolder; 
   background-color:skyblue;
   padding-bottom: 10px;
   font-family: Ties New Roman, Times, serif;
   color:purple;
 }
   .tdStyleEditAirline{
    align-items: center;
    border: 1px solid lightslategrey;
    padding: 8px;
    font-family: Ties New Roman, Times, serif;
    font-weight: bolder;
    background-color: lightcyan;
  } 

  .trStyleEditAirline{
    background-color:lightskyblue;
  } 

  .tableCenterEditAirline{
    padding-top: 25px;
    margin-left: auto; 
    margin-right: auto;
    align-items: center;
    font-family: Ties New Roman, Times, serif;
    width: 80%;
  }