.new-expense__controls {
     padding-top: 45px;
  }
  
  .new-expense__control label {
    font-weight: lighter;
    margin-bottom: 0.5rem;
    display: block;
    height: 10%;
    font-size: 20px;
    font-weight:bold;
    background-color: transparent;
    font-family: Ties New Roman, Times, serif;
  }
  
  .new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    background-color: lightcyan;
    font-size: 20px;
    height: 20px;
    width: 200px;
    font-weight: 10px;
  }
  
  .new-expense__actions {
    font-size: 20px;
    border-radius: 0pt;
    padding-top: 10px;
    font-weight: 20px;
    background-color:skyblue;
    font-family: Ties New Roman, Times, serif;
    font-weight:bold ;
  }